[Desktop Entry]
Type=Application
Name=Designer
Comment=Visual UI designer for clear-ui
Exec=cce-designer
Icon=cce-designer
Categories=Graphics;Development;
Keywords=designer;ui;layout;clear-ui;
StartupNotify=true
StartupWMClass=cce-designer
